/* Stylesheet */
body {
  background-color: #e3f2fd;
}

.container {
  background-color: white;
}

#resultTable {
  font-size: 14px;
}

#bodyContainer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Footer */
#footerContainer {
  /* background-color: #dee2e6; */
  padding-top: 10px;
  margin-top: 10px;
  border-top: #374f6b 3px solid;
}

.footerText {
  font-size: 80%;
}

#footerLogo {
  width: 100%;
  padding: 20px;
}

/* Social Block */
#socialBlock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#socialBlock li {
  float: left;
  padding: 5px;
}

#socialFacebook a {
  color: #3B5998;
}

#socialTwitter a {
  color: #1DA1F2;
}

#socialGithub a {
  color: #333333;
}
