/* Stylesheet */
body {
  background-color: #e3f2fd;
}

.container {
  background-color: white;
}

#resultTable {
  font-size: 14px;
}

#bodyContainer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
